<footer>
    <div class="row">
        <div class="col-lg-1">
            <a target="_blank" href="https://github.com/HaxeCheckstyle/docs/edit/gh-pages{{page.url | replace: '.html', '.md'}}" class="btn btn-primary btn-xs" role="button"><i class="fa fa-book"></i> Edit Page</a>
        </div>
        <div class="col-lg-11 footer">
            <img src="{{site.url}}{{site.footer_image_location}}"/> {% if page.last_updated %} Page last updated: {{page.last_updated}}{% endif %} Site last generated: {{ site.time | date: "%b %-d, %Y %X" }}
        </div>
    </div>
</footer>